## import libraries

In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
## NLP libraries to clean the text data
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
## vectorization technique TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer 
## For Splitting the dataset
from sklearn.model_selection import train_test_split
## model libraries 
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

#Accuracy measuring library
from sklearn.metrics import accuracy_score

## Loading the data

In [3]:
df = pd.read_csv("C:/Users/ambee/OneDrive/Desktop/Academics/Projects and Assignments/Machine Learning/Machine Learning 1 project/WELFake_Dataset.csv")

In [4]:
df.shape

(72134, 4)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72134 entries, 0 to 72133
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  72134 non-null  int64
 1   title       71576 non-null  object
 2   text        72095 non-null  object
 3   label       72134 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.2+ MB

In [6]:
df.describe()

         Unnamed: 0         label
count  72134.000000  72134.000000
mean   36066.500000      0.514404
std    20823.436496      0.499796
min        0.000000      0.000000
25%    18033.250000      0.000000
50%    36066.500000      1.000000
75%    54099.750000      1.000000
max    72133.000000      1.000000

In [7]:
df.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [8]:

df.tail()

,Unnamed: 0,title,text,label
72129,72129,Russians steal research on Trump in hack of U....,WASHINGTON (Reuters) - Hackers believed to be ...,0
72130,72130,WATCH: Giuliani Demands That Democrats Apolog...,"You know, because in fantasyland Republicans n...",1
72131,72131,Migrants Refuse To Leave Train At Refugee Camp...,Migrants Refuse To Leave Train At Refugee Camp...,0
72132,72132,Trump tussle gives unpopular Mexican leader mu...,MEXICO CITY (Reuters) - Donald Trump’s combati...,0
72133,72133,Goldman Sachs Endorses Hillary Clinton For Pre...,Goldman Sachs Endorses Hillary Clinton For Pre...,1

In [9]:
df.columns

Index(['Unnamed: 0', 'title', 'text', 'label'], dtype='object')

In [10]:
df["label"]=df["label"].astype(bool)

In [11]:
df["label"]

0         True
1         True
2         True
3        False
4         True
         ...
72129    False
72130     True
72131    False
72132    False
72133     True
Name: label, Length: 72134, dtype: bool

In [12]:
df["label"]=df["label"].astype(int)
df

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
...,...,...,...,...
72129,72129,Russians steal research on Trump in hack of U....,WASHINGTON (Reuters) - Hackers believed to be ...,0
72130,72130,WATCH: Giuliani Demands That Democrats Apolog...,"You know, because in fantasyland Republicans n...",1
72131,72131,Migrants Refuse To Leave Train At Refugee Camp...,Migrants Refuse To Leave Train At Refugee Camp...,0
72132,72132,Trump tussle gives unpopular Mexican leader mu...,MEXICO CITY (Reuters) - Donald Trump’s combati...,0
72133,72133,Goldman Sachs Endorses Hillary Clinton For Pre...,Goldman Sachs Endorses Hillary Clinton For Pre...,1

In [13]:
df.rename(columns={'text': 'News'}, inplace=True)

In [14]:
df[['title']]

                                                   title
0      LAW ENFORCEMENT ON HIGH ALERT Following Threat...
1                                                    NaN
2      UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...
3      Bobby Jindal, raised Hindu, uses story of Chri...
4      SATAN 2: Russia unvelis an image of its terrif...
...                                                  ...
72129  Russians steal research on Trump in hack of U....
72130   WATCH: Giuliani Demands That Democrats Apolog...
72131  Migrants Refuse To Leave Train At Refugee Camp...
72132  Trump tussle gives unpopular Mexican leader mu...
72133  Goldman Sachs Endorses Hillary Clinton For Pre...

[72134 rows x 1 columns]

In [15]:
df[['News']]

                                                    News
0      No comment is expected from Barack Obama Membe...
1         Did they post their votes for Hillary already?
2       Now, most of the demonstrators gathered last ...
3      A dozen politically active pastors came here f...
4      The RS-28 Sarmat missile, dubbed Satan 2, will...
...                                                  ...
72129  WASHINGTON (Reuters) - Hackers believed to be ...
72130  You know, because in fantasyland Republicans n...
72131  Migrants Refuse To Leave Train At Refugee Camp...
72132  MEXICO CITY (Reuters) - Donald Trump’s combati...
72133  Goldman Sachs Endorses Hillary Clinton For Pre...

[72134 rows x 1 columns]

In [16]:
df.iloc[[0]]# to view specific row , in two ways loc[#passing the row name], iloc[by indexing]

,Unnamed: 0,title,News,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1

In [36]:
df.iloc[:3,[0]]

   Unnamed: 0
0           0
1           1
2           2

In [30]:
df.iloc[[0,1,2]]

,Unnamed: 0,title,News,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1

In [32]:
df.loc[0:2]

,Unnamed: 0,title,News,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1

In [33]:
df.iloc[0:3,0:2]

   Unnamed: 0                                              title
0           0  LAW ENFORCEMENT ON HIGH ALERT Following Threat...
1           1                                                NaN
2           2  UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...

In [37]:
df.iat[0,1]# to view specific value # indexing

'LAW ENFORCEMENT ON HIGH ALERT Following Threats Against Cops And Whites On 9-11By #BlackLivesMatter And #FYF911 Terrorists [VIDEO]'

In [37]:
df.iat[0,2]

'No comment is expected from Barack Obama Members of the #FYF911 or #FukYoFlag and #BlackLivesMatter movements called for the lynching and hanging of white people and cops. They encouraged others on a radio show Tuesday night to  turn the tide  and kill white people and cops to send a message about the killing of black people in America.One of the F***YoFlag organizers is called  Sunshine.  She has a radio blog show hosted from Texas called,  Sunshine s F***ing Opinion Radio Show. A snapshot of her #FYF911 @LOLatWhiteFear Twitter page at 9:53 p.m. shows that she was urging supporters to  Call now!! #fyf911 tonight we continue to dismantle the illusion of white Below is a SNAPSHOT Twitter Radio Call Invite   #FYF911The radio show aired at 10:00 p.m. eastern standard time.During the show, callers clearly call for  lynching  and  killing  of white people.A 2:39 minute clip from the radio show can be heard here. It was provided to Breitbart Texas by someone who would like to be referred to as  Hannibal.  He has already received death threats as a result of interrupting #FYF911 conference calls.An unidentified black man said  when those mother f**kers are by themselves, that s when when we should start f***ing them up. Like they do us, when a bunch of them ni**ers takin  one of us out, that s how we should roll up.  He said,  Cause we already roll up in gangs anyway. There should be six or seven black mother f**ckers, see that white person, and then lynch their ass. Let s turn the tables. They conspired that if  cops started losing people,  then  there will be a state of emergency. He speculated that one of two things would happen,  a big-ass [R s?????] war,  or  ni**ers, they are going to start backin  up. We are already getting killed out here so what the f**k we got to lose? Sunshine could be heard saying,  Yep, that s true. That s so f**king true. He said,  We need to turn the tables on them. Our kids are getting shot out here. Somebody needs to become a sacrifice on their side.He said,  Everybody ain t down for that s**t, or whatever, but like I say, everybody has a different position of war.  He continued,  Because they don t give a f**k anyway.  He said again,  We might as well utilized them for that s**t and turn the tables on these n**ers. He said, that way  we can start lookin  like we ain t havin  that many casualties, and there can be more causalities on their side instead of ours. They are out their killing black people, black lives don t matter, that s what those mother f**kers   so we got to make it matter to them. Find a mother f**ker that is alone. Snap his ass, and then f***in hang him from a damn tree. Take a picture of it and then send it to the mother f**kers. We  just need one example,  and  then people will start watchin .  This will turn the tables on s**t, he said. He said this will start  a trickle-down effect.  He said that when one white person is hung and then they are just  flat-hanging,  that will start the  trickle-down effect.  He continued,  Black people are good at starting trends. He said that was how  to get the upper-hand. Another black man spoke up saying they needed to kill  cops that are killing us. The first black male said,  That will be the best method right there. Breitbart Texas previously reported how Sunshine was upset when  racist white people  infiltrated and disrupted one of her conference calls. She subsequently released the phone number of one of the infiltrators. The veteran immediately started receiving threatening calls.One of the #F***YoFlag movement supporters allegedly told a veteran who infiltrated their publicly posted conference call,  We are going to rape and gut your pregnant wife, and your f***ing piece of sh*t unborn creature will be hung from a tree. Breitbart Texas previously encountered Sunshine at a Sandra Bland protest at the Waller County Jail in Texas, where she said all white people should be killed. She told journalists and photographers,  You see this nappy-ass hair on my head?   That means I am one of those more militant Negroes.  She said she was at the protest because  these redneck mother-f**kers murdered Sandra Bland because she had nappy hair like me. #FYF911 black radicals say they will be holding the  imperial powers  that are actually responsible for the terrorist attacks on September 11th accountable on that day, as reported by Breitbart Texas. There are several websites and Twitter handles for the movement. Palmetto Star  describes himself as one of the head organizers. He said in a YouTube video that supporters will be burning their symbols of  the illusion of their superiority,  their  false white supremacy,  like the American flag, the British flag, police uniforms, and Ku Klux Klan hoods.Sierra McGrone or  Nocturnus Libertus  posted,  you too can help a young Afrikan clean their a** with the rag of oppression.  She posted two photos, one that appears to be herself, and a photo of a black man, wiping their naked butts with the American flag.For entire story: Breitbart News'

In [38]:
df.at[0, 'title'] #retrieves the value in the second row and the 'column1' column using labels,

'LAW ENFORCEMENT ON HIGH ALERT Following Threats Against Cops And Whites On 9-11By #BlackLivesMatter And #FYF911 Terrorists [VIDEO]'

In [39]:
df.iat[0,2]

'No comment is expected from Barack Obama Members of the #FYF911 or #FukYoFlag and #BlackLivesMatter movements called for the lynching and hanging of white people and cops. They encouraged others on a radio show Tuesday night to  turn the tide  and kill white people and cops to send a message about the killing of black people in America.One of the F***YoFlag organizers is called  Sunshine.  She has a radio blog show hosted from Texas called,  Sunshine s F***ing Opinion Radio Show. A snapshot of her #FYF911 @LOLatWhiteFear Twitter page at 9:53 p.m. shows that she was urging supporters to  Call now!! #fyf911 tonight we continue to dismantle the illusion of white Below is a SNAPSHOT Twitter Radio Call Invite   #FYF911The radio show aired at 10:00 p.m. eastern standard time.During the show, callers clearly call for  lynching  and  killing  of white people.A 2:39 minute clip from the radio show can be heard here. It was provided to Breitbart Texas by someone who would like to be referred to as  Hannibal.  He has already received death threats as a result of interrupting #FYF911 conference calls.An unidentified black man said  when those mother f**kers are by themselves, that s when when we should start f***ing them up. Like they do us, when a bunch of them ni**ers takin  one of us out, that s how we should roll up.  He said,  Cause we already roll up in gangs anyway. There should be six or seven black mother f**ckers, see that white person, and then lynch their ass. Let s turn the tables. They conspired that if  cops started losing people,  then  there will be a state of emergency. He speculated that one of two things would happen,  a big-ass [R s?????] war,  or  ni**ers, they are going to start backin  up. We are already getting killed out here so what the f**k we got to lose? Sunshine could be heard saying,  Yep, that s true. That s so f**king true. He said,  We need to turn the tables on them. Our kids are getting shot out here. Somebody needs to become a sacrifice on their side.He said,  Everybody ain t down for that s**t, or whatever, but like I say, everybody has a different position of war.  He continued,  Because they don t give a f**k anyway.  He said again,  We might as well utilized them for that s**t and turn the tables on these n**ers. He said, that way  we can start lookin  like we ain t havin  that many casualties, and there can be more causalities on their side instead of ours. They are out their killing black people, black lives don t matter, that s what those mother f**kers   so we got to make it matter to them. Find a mother f**ker that is alone. Snap his ass, and then f***in hang him from a damn tree. Take a picture of it and then send it to the mother f**kers. We  just need one example,  and  then people will start watchin .  This will turn the tables on s**t, he said. He said this will start  a trickle-down effect.  He said that when one white person is hung and then they are just  flat-hanging,  that will start the  trickle-down effect.  He continued,  Black people are good at starting trends. He said that was how  to get the upper-hand. Another black man spoke up saying they needed to kill  cops that are killing us. The first black male said,  That will be the best method right there. Breitbart Texas previously reported how Sunshine was upset when  racist white people  infiltrated and disrupted one of her conference calls. She subsequently released the phone number of one of the infiltrators. The veteran immediately started receiving threatening calls.One of the #F***YoFlag movement supporters allegedly told a veteran who infiltrated their publicly posted conference call,  We are going to rape and gut your pregnant wife, and your f***ing piece of sh*t unborn creature will be hung from a tree. Breitbart Texas previously encountered Sunshine at a Sandra Bland protest at the Waller County Jail in Texas, where she said all white people should be killed. She told journalists and photographers,  You see this nappy-ass hair on my head?   That means I am one of those more militant Negroes.  She said she was at the protest because  these redneck mother-f**kers murdered Sandra Bland because she had nappy hair like me. #FYF911 black radicals say they will be holding the  imperial powers  that are actually responsible for the terrorist attacks on September 11th accountable on that day, as reported by Breitbart Texas. There are several websites and Twitter handles for the movement. Palmetto Star  describes himself as one of the head organizers. He said in a YouTube video that supporters will be burning their symbols of  the illusion of their superiority,  their  false white supremacy,  like the American flag, the British flag, police uniforms, and Ku Klux Klan hoods.Sierra McGrone or  Nocturnus Libertus  posted,  you too can help a young Afrikan clean their a** with the rag of oppression.  She posted two photos, one that appears to be herself, and a photo of a black man, wiping their naked butts with the American flag.For entire story: Breitbart News'

In [40]:
df.rename(columns={"Unnamed: 0":"Serial No"},inplace=True)

In [41]:
df

,Serial No,title,News,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
...,...,...,...,...
72129,72129,Russians steal research on Trump in hack of U....,WASHINGTON (Reuters) - Hackers believed to be ...,0
72130,72130,WATCH: Giuliani Demands That Democrats Apolog...,"You know, because in fantasyland Republicans n...",1
72131,72131,Migrants Refuse To Leave Train At Refugee Camp...,Migrants Refuse To Leave Train At Refugee Camp...,0
72132,72132,Trump tussle gives unpopular Mexican leader mu...,MEXICO CITY (Reuters) - Donald Trump’s combati...,0
72133,72133,Goldman Sachs Endorses Hillary Clinton For Pre...,Goldman Sachs Endorses Hillary Clinton For Pre...,1

In [21]:
#df.set_index("Serial No",inplace=True)

In [42]:
df

,Serial No,title,News,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
...,...,...,...,...
72129,72129,Russians steal research on Trump in hack of U....,WASHINGTON (Reuters) - Hackers believed to be ...,0
72130,72130,WATCH: Giuliani Demands That Democrats Apolog...,"You know, because in fantasyland Republicans n...",1
72131,72131,Migrants Refuse To Leave Train At Refugee Camp...,Migrants Refuse To Leave Train At Refugee Camp...,0
72132,72132,Trump tussle gives unpopular Mexican leader mu...,MEXICO CITY (Reuters) - Donald Trump’s combati...,0
72133,72133,Goldman Sachs Endorses Hillary Clinton For Pre...,Goldman Sachs Endorses Hillary Clinton For Pre...,1

In [43]:
df.iloc[[2]]

,Serial No,title,News,label
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1

In [ ]:
df.iloc[2,1]=df.

In [44]:

df.isnull().sum()

Serial No      0
title        558
News          39
label          0
dtype: int64

In [45]:
df.drop(df.index[70000:72135],inplace=True)

In [46]:
df.columns

Index(['Serial No', 'title', 'News', 'label'], dtype='object')

In [47]:
df.shape

(70000, 4)

In [48]:
df["title"]=df["title"].mode()[0]

In [38]:
df["title"]

0        LAW ENFORCEMENT ON HIGH ALERT Following Threat...
1                                                      NaN
2        UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...
3        Bobby Jindal, raised Hindu, uses story of Chri...
4        SATAN 2: Russia unvelis an image of its terrif...
                               ...
72129    Russians steal research on Trump in hack of U....
72130     WATCH: Giuliani Demands That Democrats Apolog...
72131    Migrants Refuse To Leave Train At Refugee Camp...
72132    Trump tussle gives unpopular Mexican leader mu...
72133    Goldman Sachs Endorses Hillary Clinton For Pre...
Name: title, Length: 72134, dtype: object

In [49]:
df["title"].isnull().sum()

0

In [50]:
df["News"]=df["News"].mode()[0]
df["News"].isnull().sum()

0

In [25]:
#df.fillna("title",inplace=True)
#df

,title,News,label
Serial No,,,
0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,title,Did they post their votes for Hillary already?,1
2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1
...,...,...,...
72129,Russians steal research on Trump in hack of U....,WASHINGTON (Reuters) - Hackers believed to be ...,0
72130,WATCH: Giuliani Demands That Democrats Apolog...,"You know, because in fantasyland Republicans n...",1
72131,Migrants Refuse To Leave Train At Refugee Camp...,Migrants Refuse To Leave Train At Refugee Camp...,0
72132,Trump tussle gives unpopular Mexican leader mu...,MEXICO CITY (Reuters) - Donald Trump’s combati...,0
72133,Goldman Sachs Endorses Hillary Clinton For Pre...,Goldman Sachs Endorses Hillary Clinton For Pre...,1

In [51]:
df.isnull().sum()

Serial No    0
title        0
News         0
label        0
dtype: int64

In [27]:
#df.iloc[0:1].transpose()
#df[["title"]]

                                                       title
Serial No
0          LAW ENFORCEMENT ON HIGH ALERT Following Threat...
1                                                      title
2          UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...
3          Bobby Jindal, raised Hindu, uses story of Chri...
4          SATAN 2: Russia unvelis an image of its terrif...
...                                                      ...
72129      Russians steal research on Trump in hack of U....
72130       WATCH: Giuliani Demands That Democrats Apolog...
72131      Migrants Refuse To Leave Train At Refugee Camp...
72132      Trump tussle gives unpopular Mexican leader mu...
72133      Goldman Sachs Endorses Hillary Clinton For Pre...

[72134 rows x 1 columns]

## Data-PreProcessing

#### 1.Removing the Null Values 
#### 2.Adding a new field 
#### 3.Drop features that are not needed 
#### 4.Text processing

In [28]:
#df = df.copy()

### Removing the Null Values

#### As Body field has some empty fields, it can be handled in two ways:

    #### 1)Drop the 21 rows
    #### 2)Replace the null value with a dummy string

#### Here, I will be going with the 2nd option, because although dropping 21 rows would not affect the accuracy, as it is just a minute portion of our large dataset, it is never recommended.

#### I will be replacing the Null(Nan) values in 'Body' field with an empty string ('')

In [29]:
#df.drop(columns='Unnamed: 0',inplace=True)

In [30]:
#df['title'] = df['title'].fillna('',inplace=False)

In [31]:
#df.isnull().sum()

title    0
News     0
label    0
dtype: int64

#### Adding a new column

In [32]:
#df.rename(columns={'text': 'News'}, inplace=True)

In [33]:
#df.head()

,title,News,label
Serial No,,,
0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,title,Did they post their votes for Hillary already?,1
2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [34]:
#df.columns

Index(['title', 'News', 'label'], dtype='object')

In [53]:
df.columns

Index(['Serial No', 'title', 'News', 'label'], dtype='object')

### Drop features that are not needed

In [54]:
features_drop = ["Serial No","title"]
df = df.drop(features_drop,axis=1)

In [55]:
df.columns

Index(['News', 'label'], dtype='object')

In [37]:
#df.drop(df.index[100:7000],inplace=True)
#df

                                                        News  label
Serial No
0          No comment is expected from Barack Obama Membe...      1
1             Did they post their votes for Hillary already?      1
2           Now, most of the demonstrators gathered last ...      1
3          A dozen politically active pastors came here f...      0
4          The RS-28 Sarmat missile, dubbed Satan 2, will...      1
...                                                      ...    ...
72129      WASHINGTON (Reuters) - Hackers believed to be ...      0
72130      You know, because in fantasyland Republicans n...      1
72131      Migrants Refuse To Leave Train At Refugee Camp...      0
72132      MEXICO CITY (Reuters) - Donald Trump’s combati...      0
72133      Goldman Sachs Endorses Hillary Clinton For Pre...      1

[65234 rows x 2 columns]

In [39]:
#df.drop(df.index[7000:20000],inplace=True)
#df

                                                        News  label
Serial No
0          No comment is expected from Barack Obama Membe...      1
1             Did they post their votes for Hillary already?      1
2           Now, most of the demonstrators gathered last ...      1
3          A dozen politically active pastors came here f...      0
4          The RS-28 Sarmat missile, dubbed Satan 2, will...      1
...                                                      ...    ...
72129      WASHINGTON (Reuters) - Hackers believed to be ...      0
72130      You know, because in fantasyland Republicans n...      1
72131      Migrants Refuse To Leave Train At Refugee Camp...      0
72132      MEXICO CITY (Reuters) - Donald Trump’s combati...      0
72133      Goldman Sachs Endorses Hillary Clinton For Pre...      1

[39234 rows x 2 columns]

### Text Processing

#### 1)Remove symbols
#### 2)Remove stopwords
#### 3)Stemming

In [56]:
ps = PorterStemmer()
def wordopt(text):
    text = re.sub('[^a-zA-Z]',' ',text)
    text = text.lower()
    text = text.split()
    text = [ps.stem(word) for word in text if not word in stopwords.words('english')]
    text = ' '.join(text)
    return text

In [57]:
df['News'].apply(wordopt)

0
1
2
3
4
        ..
69995
69996
69997
69998
69999
Name: News, Length: 70000, dtype: object

In [58]:
df.head()

  News  label
0           1
1           1
2           1
3           0
4           1

#### splitting Dataset

In [60]:
X = df['News']
Y = df['label']

x_train , x_test , y_train , y_test = train_test_split(X,Y,test_size=0.30)

### Vectorization 
#### This is used to handle our text data , by converting it into vectors.

In [61]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

ValueError: empty vocabulary; perhaps the documents only contain stop words

## Model Fitting
#### I will be fitting my data onto 3 classifications models 

#### 1]Logistic Regression 
#### 2]SVM 
#### 3]RandomForestClassifier

In [ ]:
#LR_model = LogisticRegression()

#LR_model.fit(xv_train,y_train)

#lr_y_pred = LR_model.predict(xv_test)

#score = accuracy_score(y_test,lr_y_pred)
#print('Accuracy of LR model is', score)